---
// Giscus 评论组件
// 请访问 https://giscus.app 生成实际配置值并替换下方占位值
---

<div id="giscus-container" class="giscus mx-auto max-w-3xl px-4 pt-8 pb-4"></div>

<script
  src="https://giscus.app/client.js"
  data-repo="JayLanBlog/JayLanBlog"
  data-repo-id=""
  data-category="Announcements"
  data-category-id=""
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async
></script>
